inputs_def:
  - handle: audio_file
    description: "%input-audio-file3%"
    json_schema:
      type: string
      ui:widget: file
      ui:options:
        filters:
          - name: Audio Files
            extensions:
              - mp3
              - wav
              - aac
              - flac
              - ogg
              - m4a
        excludeAll: true
    nullable: false

  - handle: noise_reduction_method
    description: "%noise-reduction-method%"
    json_schema:
      type: string
      enum:
        - "highpass"
        - "lowpass"
        - "bandpass"
        - "afftdn"
    value: highpass
    nullable: false

  - group: Filter Parameters
    collapsed: true

  - handle: highpass_frequency
    description: "%high-pass-filter-frequency-in-hz-used-when-noise_reduction_metho%"
    json_schema:
      type: number
      minimum: 20
      maximum: 2000
    value: 80
    nullable: true

  - handle: lowpass_frequency
    description: "%low-pass-filter-frequency-in-hz-used-when-noise_reduction_method%"
    json_schema:
      type: number
      minimum: 1000
      maximum: 20000
    value: 8000
    nullable: true

  - handle: bandpass_low_frequency
    description: "%band-pass-low-frequency-in-hz-used-when-noise_reduction_method-i%"
    json_schema:
      type: number
      minimum: 20
      maximum: 1000
    value: 300
    nullable: true

  - handle: bandpass_high_frequency
    description: "%band-pass-high-frequency-in-hz-used-when-noise_reduction_method%"
    json_schema:
      type: number
      minimum: 1000
      maximum: 20000
    value: 3000
    nullable: true

  - handle: noise_reduction_strength
    description: "%noise-reduction-strength-used-when-noise_reduction_method-is-aff%"
    json_schema:
      type: number
      minimum: 0.01
      maximum: 0.97
    value: 0.85
    nullable: true

outputs_def:
  - handle: noise_reduced_audio
    description: "Noise reduced audio file"
    json_schema:
      type: string
      ui:widget: save
      ui:options:
        filters:
          - name: Audio Files
            extensions:
              - mp3
              - wav
              - aac
              - flac
              - ogg
              - m4a
        excludeAll: true

executor:
  name: python
  options:
    entry: __init__.py
    spawn: false

title: "%audio-noise-reduction%"
icon: ":carbon:clean:"
description: "%reduce-audio-noise-using-various-filtering-methods-high-pass-low%"
