inputs_def:
  - handle: video_file
    description: "%input-video-file2%"
    json_schema:
      type: string
      ui:widget: file
      ui:options:
        filters:
          - name: Video Files
            extensions:
              - mp4
              - avi
              - mov
              - mkv
              - webm
        excludeAll: true
    nullable: false

  - handle: watermark_type
    description: "%type-of-watermark-to-add%"
    json_schema:
      type: string
      enum:
        - "text"
        - "image"
    value: text
    nullable: false

  - handle: watermark_text
    description: "%watermark-text-used-when-watermark_type-is-text%"
    json_schema:
      type: string
    value: WATERMARK
    nullable: true

  - handle: watermark_image
    description: "%watermark-image-file-used-when-watermark_type-is-image%"
    json_schema:
      type: string
      ui:widget: file
      ui:options:
        filters:
          - name: Image Files
            extensions:
              - png
              - jpg
              - jpeg
              - gif
              - bmp
        excludeAll: true
    value:
    nullable: true

  - handle: position
    description: "%watermark-position%"
    json_schema:
      type: string
      enum:
        - "top-left"
        - "top-right"
        - "bottom-left"
        - "bottom-right"
        - "center"
    value: bottom-right
    nullable: false

  - group: Style Options
    collapsed: true

  - handle: opacity
    description: "%watermark-opacity-0-0-transparent-1-0-opaque%"
    json_schema:
      type: number
      minimum: 0.0
      maximum: 1.0
    value: 0.8
    nullable: false

  - handle: font_size
    description: "%text-font-size-used-when-watermark_type-is-text%"
    json_schema:
      type: number
      minimum: 12
      maximum: 72
    value: 24
    nullable: true

  - handle: font_color
    description: "%text-font-color-used-when-watermark_type-is-text%"
    json_schema:
      type: string
      ui:widget: color
      ui:options:
        colorType: HEX
    value: "#FFFFFF"
    nullable: true

  - handle: padding
    description: "%padding-from-edges-in-pixels%"
    json_schema:
      type: number
      minimum: 0
      maximum: 100
    value: 20
    nullable: false

outputs_def:
  - handle: watermarked_video
    description: "%video-with-watermark-added%"
    json_schema:
      type: string
      ui:widget: save
      ui:options:
        filters:
          - name: MP4 Files
            extensions:
              - mp4
          - name: AVI Files
            extensions:
              - avi
          - name: MOV Files
            extensions:
              - mov
        excludeAll: true

executor:
  name: python
  options:
    entry: __init__.py
    spawn: false

title: "%add-video-watermark%"
icon: ":carbon:stamp:"
description: "%add-text-or-image-watermark-to-video-with-customizable-position%"
